@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
    color:#00ff00;
}

.destaqueTitulo {
    color:white;
}

.destaqueParagrafo {
    color:white;
}

.apresentacao {
    margin:10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: 'Courier Prime', monospace;
}

.apresentacao__conteudo__paragrafo {
    font-size: 30px;
    font-family: 'Courier New', monospace;
}

.botões_redes-sociais {
    display: flex;
    justify-content: space-between;
}

.links__botoes {
    background-color:#00ff00;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0px;
    font-size: 30px;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    text-decoration: none;
    color:white;
}

.minha__foto {
    width: 800px;
    height: auto;
    border-radius: 90%;
    border: 5px solid #00ff00;
}