@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
    color:#00ff00;
}

.destaqueTitulo {
    color:white;
}

.destaqueParagrafo {
    color:white;
}

.apresentacao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 35px;
    font-family: 'Courier Prime', monospace;
}

.apresentacao__conteudo__paragrafo {
    font-size: 25px;
    font-family: 'Courier New', monospace;
}

.botões_redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.links__botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    border: 2px solid white;
    width: 378px;
    text-align: center;
    border-radius: 4px;
    padding: 21.5px 0px;
    font-size: 30px;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    text-decoration: none;
    color: #00ff00;
}

.icones{
    width:35px;
    height:auto;

}

.links__botoes:hover{
    background-color: #00ff00;
    color: white;
    border-color: #00ff00;
}

.minha__foto {
    width: 500px;
    height: auto;
    border-radius: 5%;
    border: 3px solid white;
}

.apresentacao__titulo__links{
    font-family: 'Courier Prime', monospace;
    color:#00ff00;
    font-size: 25px;
    font-weight: 400;
}

.rodape{
    padding: 24px;  
    color: white;
    /* background-color: #00ff00; */
    border: 3px solid white;
    text-align: center;
    font-family:'Courier Prime', monospace;
    font-size: 20px;
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__item{
    color: white;
    font-family:'Courier Prime', monospace;
    font-size:24px;
    font-weight: 600;
    text-decoration: none;
}
